@page
@model AnotherNightmare.Pages.FifthSceneModel

<div class="fifth-scene-background">
    <h1 class="scene-title">It All goes south</h1>
    <p class="scene-text">As chaos unfolds globally, you're back in the Situation Room, faced with a rapidly deteriorating scenario. Satellite images and live feeds from around the world show massive alien ships entering Earth's atmosphere. It's clear that the events at the HAARP facility have triggered this response. With humanity on the brink, you have to make one last decision as President</p>

    <!-- Choices -->
    <div class="choices">
        <form method="post">
            <button type="submit" name="choice" value="1" class="choice-button">Launch a Counterattack </button>
            <button type="submit" name="choice" value="2" class="choice-button">Attempt Communication</button>
            <button type="submit" name="choice" value="3" class="choice-button">Evacuate Key Personnel </button>
            <button type="submit" name="choice" value="4" class="choice-button">Surrender to the Aliens</button>
        </form>
    </div>
</div>