@page
@model AnotherNightmare.Pages.FinalSceneModel

<div class="final-scene-background">
    <h1 class="scene-title">Game Over Thanks For Playing</h1>
    <p class="scene-text">You really did not think with our current political climate we were going to get out of this Alive did you.</p>