@page
@model AnotherNightmare.Pages.FirstSceneModel

<div class="first-scene-background">
    <div class="scene-container">
        <h1 class="scene-title">A Mysterious Awakening</h1>
        <p class="scene-text">A knock at the door wakes you. You must of fallen asleep on the couch. 
 You glance at the alarm clock it is a measly 4:43 am. 
This is earlier then the agreed upon 5am. A moment after the knock Alex Martinez who has been your presidential personal aid crisply says Mr. President “Sir, We are about to start to land at Joint Base Elmendorf–Richardson. You quickly put your suit on and head to the meeting room Airforce ones meeting room is a decent size square with a table and & chairs no Press were on the couch around the outside that usually means this meeting was Classified. You think damn it is one of these. 
Alex come over to you and ask “Mr. President what would you Like for breakfast”  
</p>

        <div class="choice-container">
            <form method="post">
                <button type="submit" name="choice" value="1" class="choice-button">Black coffee only. Thanks, Alex.</button>
                <button type="submit" name="choice" value="2" class="choice-button">A couple of hardboiled eggs and toast with jam. Thanks, Alex.</button>
                <button type="submit" name="choice" value="3" class="choice-button">Just a cup of yogurt and a few strawberries. Thanks, Alex.</button>
                <button type="submit" name="choice" value="4" class="choice-button">A cup of Orange Juice and a Bowl of granola. Thanks, Alex.</button>
            </form>
        </div>
    </div>
</div>