@page
@model AnotherNightmare.Pages.FourthSceneModel

<div class="fourth-scene-background">
    <h1 class="scene-title">Addressing The Public</h1>
    <p class="scene-text">En route to the base, an urgent report comes in. The HAARP experiment, regardless of whether it was authorized or not, has triggered a chain reaction, causing atmospheric anomalies. These anomalies are now affecting global communications and have the potential to escalate into a more severe crisis. As President, you must make a quick decision to address this escalating situation."</p>

    <!-- Choices -->
    <div class="choices">
        <form method="post">
            <button type="submit" name="choice" value="1" class="choice-button">Military Intervention</button>
            <button type="submit" name="choice" value="B" class="choice-button">Seek Diplomatic Solutions</button>
            <button type="submit" name="choice" value="C" class="choice-button">Public Address</button>
            <button type="submit" name="choice" value="D" class="choice-button">Deny Involvement </button>
        </form>
    </div>
</div>