@page
@model AnotherNightmare.Pages.InstructionsModel
@{
    ViewData["Title"] = "Game Instructions";
}

<div class="instructions">
    <h2>How to Play</h2>
    <p>Welcome to Another Nightmare. In this game, you will be making decisions that shape the story of a president facing an awful situtation. The truth is out there!</p>
    <a asp-page="/Index">Back to Home</a>
</div>